@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 14)); /* Ancho de card * número de testimonios */
  }
}

.animate-scroll {
  animation: scroll 50s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes scroll-tech {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 24)); /* Ancho de card * número total de tecnologías */
  }
}

.animate-scroll-tech {
  animation: scroll-tech 60s linear infinite; /* Aumenté el tiempo para que sea más suave */
}

.animate-scroll-tech:hover {
  animation-play-state: paused;
}